com.cognitect.aws/AWS242AppRegistry #:mvn{:version "810.2.817.0"}
com.cognitect.aws/AWSMigrationHub #:mvn{:version "796.2.657.0"}
com.cognitect.aws/accessanalyzer #:mvn{:version "809.2.784.0"}
com.cognitect.aws/acm #:mvn{:version "809.2.784.0"}
com.cognitect.aws/acm-pca #:mvn{:version "809.2.784.0"}
com.cognitect.aws/alexaforbusiness #:mvn{:version "802.2.713.0"}
com.cognitect.aws/amp #:mvn{:version "810.2.817.0"}
com.cognitect.aws/amplify #:mvn{:version "809.2.797.0"}
com.cognitect.aws/amplifybackend #:mvn{:version "810.2.805.0"}
com.cognitect.aws/apigateway #:mvn{:version "810.2.817.0"}
com.cognitect.aws/apigatewaymanagementapi #:mvn{:version "770.2.568.0"}
com.cognitect.aws/apigatewayv2 #:mvn{:version "809.2.784.0"}
com.cognitect.aws/appconfig #:mvn{:version "801.2.697.0"}
com.cognitect.aws/appflow #:mvn{:version "810.2.801.0"}
com.cognitect.aws/appintegrations #:mvn{:version "810.2.801.0"}
com.cognitect.aws/application-autoscaling #:mvn{:version "809.2.784.0"}
com.cognitect.aws/application-insights #:mvn{:version "810.2.801.0"}
com.cognitect.aws/appmesh #:mvn{:version "809.2.797.0"}
com.cognitect.aws/appstream #:mvn{:version "809.2.734.0"}
com.cognitect.aws/appsync #:mvn{:version "809.2.784.0"}
com.cognitect.aws/athena #:mvn{:version "801.2.687.0"}
com.cognitect.aws/auditmanager #:mvn{:version "810.2.817.0"}
com.cognitect.aws/autoscaling #:mvn{:version "810.2.817.0"}
com.cognitect.aws/autoscaling-plans #:mvn{:version "773.2.578.0"}
com.cognitect.aws/backup #:mvn{:version "809.2.797.0"}
com.cognitect.aws/batch #:mvn{:version "810.2.817.0"}
com.cognitect.aws/braket #:mvn{:version "810.2.797.0"}
com.cognitect.aws/budgets #:mvn{:version "809.2.784.0"}
com.cognitect.aws/ce #:mvn{:version "810.2.817.0"}
com.cognitect.aws/chime #:mvn{:version "809.2.797.0"}
com.cognitect.aws/cloud9 #:mvn{:version "809.2.734.0"}
com.cognitect.aws/clouddirectory #:mvn{:version "770.2.568.0"}
com.cognitect.aws/cloudformation #:mvn{:version "810.2.801.0"}
com.cognitect.aws/cloudfront #:mvn{:version "809.2.784.0"}
com.cognitect.aws/cloudhsm #:mvn{:version "770.2.568.0"}
com.cognitect.aws/cloudhsmv2 #:mvn{:version "809.2.797.0"}
com.cognitect.aws/cloudsearch #:mvn{:version "773.2.571.0"}
com.cognitect.aws/cloudsearchdomain #:mvn{:version "770.2.568.0"}
com.cognitect.aws/cloudtrail #:mvn{:version "810.2.817.0"}
com.cognitect.aws/codeartifact #:mvn{:version "810.2.801.0"}
com.cognitect.aws/codebuild #:mvn{:version "810.2.802.0"}
com.cognitect.aws/codecommit #:mvn{:version "801.2.704.0"}
com.cognitect.aws/codedeploy #:mvn{:version "799.2.681.0"}
com.cognitect.aws/codeguru-reviewer #:mvn{:version "809.2.797.0"}
com.cognitect.aws/codeguruprofiler #:mvn{:version "803.2.717.0"}
com.cognitect.aws/codepipeline #:mvn{:version "809.2.797.0"}
com.cognitect.aws/codestar #:mvn{:version "770.2.568.0"}
com.cognitect.aws/codestar-connections #:mvn{:version "810.2.801.0"}
com.cognitect.aws/codestar-notifications #:mvn{:version "770.2.568.0"}
com.cognitect.aws/cognito-identity #:mvn{:version "809.2.797.0"}
com.cognitect.aws/cognito-idp #:mvn{:version "810.2.801.0"}
com.cognitect.aws/cognito-sync #:mvn{:version "770.2.568.0"}
com.cognitect.aws/comprehend #:mvn{:version "810.2.801.0"}
com.cognitect.aws/comprehendmedical #:mvn{:version "801.2.708.0"}
com.cognitect.aws/compute-optimizer #:mvn{:version "810.2.817.0"}
com.cognitect.aws/config #:mvn{:version "810.2.817.0"}
com.cognitect.aws/connect #:mvn{:version "810.2.817.0"}
com.cognitect.aws/connect-contact-lens #:mvn{:version "810.2.801.0"}
com.cognitect.aws/connectparticipant #:mvn{:version "810.2.817.0"}
com.cognitect.aws/cur #:mvn{:version "809.2.784.0"}
com.cognitect.aws/customer-profiles #:mvn{:version "810.2.802.0"}
com.cognitect.aws/databrew #:mvn{:version "810.2.797.0"}
com.cognitect.aws/dataexchange #:mvn{:version "801.2.698.0"}
com.cognitect.aws/datapipeline #:mvn{:version "770.2.568.0"}
com.cognitect.aws/datasync #:mvn{:version "809.2.797.0"}
com.cognitect.aws/dax #:mvn{:version "770.2.568.0"}
com.cognitect.aws/detective #:mvn{:version "796.2.650.0"}
com.cognitect.aws/devicefarm #:mvn{:version "784.2.595.0"}
com.cognitect.aws/devices #:mvn{:version "770.2.568.0"}
com.cognitect.aws/devops-guru #:mvn{:version "810.2.817.0"}
com.cognitect.aws/directconnect #:mvn{:version "809.2.784.0"}
com.cognitect.aws/discovery #:mvn{:version "788.2.608.0"}
com.cognitect.aws/dlm #:mvn{:version "810.2.817.0"}
com.cognitect.aws/dms #:mvn{:version "810.2.817.0"}
com.cognitect.aws/docdb #:mvn{:version "809.2.784.0"}
com.cognitect.aws/ds #:mvn{:version "810.2.805.0"}
com.cognitect.aws/dynamodb #:mvn{:version "810.2.801.0"}
com.cognitect.aws/ebs #:mvn{:version "809.2.784.0"}
com.cognitect.aws/ec2 #:mvn{:version "810.2.817.0"}
com.cognitect.aws/ec2-instance-connect #:mvn{:version "770.2.568.0"}
com.cognitect.aws/ecr #:mvn{:version "810.2.817.0"}
com.cognitect.aws/ecr-public #:mvn{:version "810.2.801.0"}
com.cognitect.aws/ecs #:mvn{:version "810.2.801.0"}
com.cognitect.aws/eks #:mvn{:version "810.2.801.0"}
com.cognitect.aws/elastic-inference #:mvn{:version "796.2.663.0"}
com.cognitect.aws/elasticache #:mvn{:version "810.2.817.0"}
com.cognitect.aws/elasticbeanstalk #:mvn{:version "810.2.801.0"}
com.cognitect.aws/elasticfilesystem #:mvn{:version "802.2.711.0"}
com.cognitect.aws/elasticloadbalancing #:mvn{:version "809.2.784.0"}
com.cognitect.aws/elasticloadbalancingv2 #:mvn{:version "809.2.797.0"}
com.cognitect.aws/elasticmapreduce #:mvn{:version "810.2.801.0"}
com.cognitect.aws/elastictranscoder #:mvn{:version "770.2.568.0"}
com.cognitect.aws/email #:mvn{:version "770.2.568.0"}
com.cognitect.aws/emr-containers #:mvn{:version "810.2.817.0"}
com.cognitect.aws/entitlement-marketplace #:mvn{:version "770.2.568.0"}
com.cognitect.aws/es #:mvn{:version "809.2.797.0"}
com.cognitect.aws/eventbridge #:mvn{:version "809.2.797.0"}
com.cognitect.aws/events #:mvn{:version "809.2.797.0"}
com.cognitect.aws/firehose #:mvn{:version "807.2.729.0"}
com.cognitect.aws/fms #:mvn{:version "809.2.797.0"}
com.cognitect.aws/forecast #:mvn{:version "810.2.817.0"}
com.cognitect.aws/forecastquery #:mvn{:version "789.2.612.0"}
com.cognitect.aws/frauddetector #:mvn{:version "809.2.797.0"}
com.cognitect.aws/fsx #:mvn{:version "810.2.801.0"}
com.cognitect.aws/gamelift #:mvn{:version "810.2.801.0"}
com.cognitect.aws/glacier #:mvn{:version "770.2.568.0"}
com.cognitect.aws/globalaccelerator #:mvn{:version "810.2.817.0"}
com.cognitect.aws/glue #:mvn{:version "810.2.817.0"}
com.cognitect.aws/greengrass #:mvn{:version "809.2.784.0"}
com.cognitect.aws/greengrassv2 #:mvn{:version "810.2.817.0"}
com.cognitect.aws/groundstation #:mvn{:version "809.2.784.0"}
com.cognitect.aws/guardduty #:mvn{:version "810.2.817.0"}
com.cognitect.aws/health #:mvn{:version "807.2.729.0"}
com.cognitect.aws/healthlake #:mvn{:version "810.2.817.0"}
com.cognitect.aws/honeycode #:mvn{:version "810.2.801.0"}
com.cognitect.aws/iam #:mvn{:version "801.2.704.0"}
com.cognitect.aws/identitystore #:mvn{:version "810.2.797.0"}
com.cognitect.aws/imagebuilder #:mvn{:version "810.2.817.0"}
com.cognitect.aws/importexport #:mvn{:version "770.2.568.0"}
com.cognitect.aws/inspector #:mvn{:version "770.2.568.0"}
com.cognitect.aws/iot #:mvn{:version "810.2.817.0"}
com.cognitect.aws/iot-data #:mvn{:version "801.2.695.0"}
com.cognitect.aws/iot-jobs-data #:mvn{:version "770.2.568.0"}
com.cognitect.aws/iot1click-projects #:mvn{:version "770.2.568.0"}
com.cognitect.aws/iotanalytics #:mvn{:version "810.2.817.0"}
com.cognitect.aws/iotdeviceadvisor #:mvn{:version "810.2.817.0"}
com.cognitect.aws/iotevents #:mvn{:version "796.2.667.0"}
com.cognitect.aws/iotevents-data #:mvn{:version "770.2.568.0"}
com.cognitect.aws/iotfleethub #:mvn{:version "810.2.817.0"}
com.cognitect.aws/iotsecuretunneling #:mvn{:version "809.2.797.0"}
com.cognitect.aws/iotsitewise #:mvn{:version "810.2.817.0"}
com.cognitect.aws/iotthingsgraph #:mvn{:version "770.2.568.0"}
com.cognitect.aws/iotwireless #:mvn{:version "810.2.817.0"}
com.cognitect.aws/ivs #:mvn{:version "809.2.784.0"}
com.cognitect.aws/kafka #:mvn{:version "810.2.805.0"}
com.cognitect.aws/kendra #:mvn{:version "810.2.817.0"}
com.cognitect.aws/kinesis #:mvn{:version "809.2.784.0"}
com.cognitect.aws/kinesis-video-archived-media #:mvn{:version "796.2.665.0"}
com.cognitect.aws/kinesis-video-media #:mvn{:version "770.2.568.0"}
com.cognitect.aws/kinesis-video-signaling #:mvn{:version "781.2.585.0"}
com.cognitect.aws/kinesisanalytics #:mvn{:version "770.2.568.0"}
com.cognitect.aws/kinesisanalyticsv2 #:mvn{:version "809.2.797.0"}
com.cognitect.aws/kinesisvideo #:mvn{:version "796.2.665.0"}
com.cognitect.aws/kms #:mvn{:version "810.2.817.0"}
com.cognitect.aws/lakeformation #:mvn{:version "809.2.784.0"}
com.cognitect.aws/lambda #:mvn{:version "810.2.817.0"}
com.cognitect.aws/lex-models #:mvn{:version "810.2.801.0"}
com.cognitect.aws/license-manager #:mvn{:version "810.2.805.0"}
com.cognitect.aws/lightsail #:mvn{:version "809.2.797.0"}
com.cognitect.aws/location #:mvn{:version "810.2.817.0"}
com.cognitect.aws/logs #:mvn{:version "809.2.784.0"}
com.cognitect.aws/lookoutvision #:mvn{:version "810.2.801.0"}
com.cognitect.aws/machinelearning #:mvn{:version "770.2.568.0"}
com.cognitect.aws/macie #:mvn{:version "801.2.684.0"}
com.cognitect.aws/macie2 #:mvn{:version "809.2.797.0"}
com.cognitect.aws/managedblockchain #:mvn{:version "810.2.817.0"}
com.cognitect.aws/marketplace-catalog #:mvn{:version "809.2.784.0"}
com.cognitect.aws/marketplacecommerceanalytics #:mvn{:version "809.2.784.0"}
com.cognitect.aws/mediaconnect #:mvn{:version "809.2.784.0"}
com.cognitect.aws/mediaconvert #:mvn{:version "810.2.801.0"}
com.cognitect.aws/medialive #:mvn{:version "810.2.805.0"}
com.cognitect.aws/mediapackage #:mvn{:version "809.2.784.0"}
com.cognitect.aws/mediapackage-vod #:mvn{:version "801.2.690.0"}
com.cognitect.aws/mediastore #:mvn{:version "796.2.650.0"}
com.cognitect.aws/mediastore-data #:mvn{:version "770.2.568.0"}
com.cognitect.aws/mediatailor #:mvn{:version "809.2.784.0"}
com.cognitect.aws/meteringmarketplace #:mvn{:version "809.2.797.0"}
com.cognitect.aws/migrationhub-config #:mvn{:version "796.2.656.0"}
com.cognitect.aws/mobile #:mvn{:version "770.2.568.0"}
com.cognitect.aws/mobileanalytics #:mvn{:version "770.2.568.0"}
com.cognitect.aws/monitoring #:mvn{:version "810.2.817.0"}
com.cognitect.aws/mq #:mvn{:version "809.2.797.0"}
com.cognitect.aws/mturk-requester #:mvn{:version "770.2.568.0"}
com.cognitect.aws/mwaa #:mvn{:version "810.2.801.0"}
com.cognitect.aws/neptune #:mvn{:version "809.2.784.0"}
com.cognitect.aws/network-firewall #:mvn{:version "810.2.797.0"}
com.cognitect.aws/networkmanager #:mvn{:version "810.2.817.0"}
com.cognitect.aws/opsworks #:mvn{:version "770.2.568.0"}
com.cognitect.aws/opsworkscm #:mvn{:version "801.2.701.0"}
com.cognitect.aws/organizations #:mvn{:version "809.2.784.0"}
com.cognitect.aws/outposts #:mvn{:version "810.2.817.0"}
com.cognitect.aws/personalize #:mvn{:version "807.2.729.0"}
com.cognitect.aws/personalize-events #:mvn{:version "809.2.784.0"}
com.cognitect.aws/personalize-runtime #:mvn{:version "810.2.817.0"}
com.cognitect.aws/pi #:mvn{:version "810.2.817.0"}
com.cognitect.aws/pinpoint #:mvn{:version "809.2.784.0"}
com.cognitect.aws/pinpoint-email #:mvn{:version "770.2.568.0"}
com.cognitect.aws/pinpoint-sms-voice #:mvn{:version "770.2.568.0"}
com.cognitect.aws/polly #:mvn{:version "809.2.797.0"}
com.cognitect.aws/pricing #:mvn{:version "770.2.568.0"}
com.cognitect.aws/qldb #:mvn{:version "801.2.698.0"}
com.cognitect.aws/qldb-session #:mvn{:version "810.2.817.0"}
com.cognitect.aws/quicksight #:mvn{:version "810.2.817.0"}
com.cognitect.aws/ram #:mvn{:version "796.2.662.0"}
com.cognitect.aws/rds #:mvn{:version "810.2.817.0"}
com.cognitect.aws/rds-data #:mvn{:version "795.2.645.0"}
com.cognitect.aws/redshift #:mvn{:version "810.2.817.0"}
com.cognitect.aws/redshift-data #:mvn{:version "810.2.801.0"}
com.cognitect.aws/rekognition #:mvn{:version "809.2.784.0"}
com.cognitect.aws/resource-groups #:mvn{:version "810.2.817.0"}
com.cognitect.aws/resourcegroupstaggingapi #:mvn{:version "809.2.784.0"}
com.cognitect.aws/robomaker #:mvn{:version "809.2.797.0"}
com.cognitect.aws/route53 #:mvn{:version "810.2.817.0"}
com.cognitect.aws/route53domains #:mvn{:version "796.2.660.0"}
com.cognitect.aws/route53resolver #:mvn{:version "810.2.817.0"}
com.cognitect.aws/runtime-lex #:mvn{:version "809.2.797.0"}
com.cognitect.aws/runtime-sagemaker #:mvn{:version "810.2.817.0"}
com.cognitect.aws/s3 #:mvn{:version "810.2.817.0"}
com.cognitect.aws/s3control #:mvn{:version "809.2.797.0"}
com.cognitect.aws/s3outposts #:mvn{:version "810.2.797.0"}
com.cognitect.aws/sagemaker #:mvn{:version "810.2.817.0"}
com.cognitect.aws/sagemaker-a2i-runtime #:mvn{:version "796.2.657.0"}
com.cognitect.aws/sagemaker-edge #:mvn{:version "810.2.817.0"}
com.cognitect.aws/sagemaker-featurestore-runtime #:mvn{:version "810.2.801.0"}
com.cognitect.aws/savingsplans #:mvn{:version "809.2.784.0"}
com.cognitect.aws/schemas #:mvn{:version "809.2.784.0"}
com.cognitect.aws/sdb #:mvn{:version "770.2.568.0"}
com.cognitect.aws/secretsmanager #:mvn{:version "802.2.713.0"}
com.cognitect.aws/securityhub #:mvn{:version "810.2.817.0"}
com.cognitect.aws/serverlessrepo #:mvn{:version "794.2.637.0"}
com.cognitect.aws/service-quotas #:mvn{:version "810.2.817.0"}
com.cognitect.aws/servicecatalog #:mvn{:version "810.2.817.0"}
com.cognitect.aws/servicediscovery #:mvn{:version "809.2.784.0"}
com.cognitect.aws/sesv2 #:mvn{:version "809.2.784.0"}
com.cognitect.aws/shield #:mvn{:version "809.2.797.0"}
com.cognitect.aws/signer #:mvn{:version "810.2.801.0"}
com.cognitect.aws/sms #:mvn{:version "807.2.729.0"}
com.cognitect.aws/snowball #:mvn{:version "809.2.784.0"}
com.cognitect.aws/sns #:mvn{:version "809.2.797.0"}
com.cognitect.aws/sqs #:mvn{:version "810.2.817.0"}
com.cognitect.aws/ssm #:mvn{:version "810.2.817.0"}
com.cognitect.aws/sso #:mvn{:version "770.2.568.0"}
com.cognitect.aws/sso-admin #:mvn{:version "810.2.801.0"}
com.cognitect.aws/sso-oidc #:mvn{:version "770.2.568.0"}
com.cognitect.aws/states #:mvn{:version "810.2.801.0"}
com.cognitect.aws/storagegateway #:mvn{:version "809.2.797.0"}
com.cognitect.aws/streams-dynamodb #:mvn{:version "809.2.784.0"}
com.cognitect.aws/sts #:mvn{:version "809.2.784.0"}
com.cognitect.aws/support #:mvn{:version "801.2.700.0"}
com.cognitect.aws/swf #:mvn{:version "770.2.568.0"}
com.cognitect.aws/synthetics #:mvn{:version "809.2.797.0"}
com.cognitect.aws/textract #:mvn{:version "809.2.797.0"}
com.cognitect.aws/timestream-query #:mvn{:version "810.2.801.0"}
com.cognitect.aws/timestream-write #:mvn{:version "810.2.801.0"}
com.cognitect.aws/transcribe #:mvn{:version "809.2.784.0"}
com.cognitect.aws/transfer #:mvn{:version "809.2.784.0"}
com.cognitect.aws/translate #:mvn{:version "810.2.801.0"}
com.cognitect.aws/waf #:mvn{:version "796.2.666.0"}
com.cognitect.aws/waf-regional #:mvn{:version "796.2.666.0"}
com.cognitect.aws/wafv2 #:mvn{:version "809.2.784.0"}
com.cognitect.aws/wellarchitected #:mvn{:version "810.2.817.0"}
com.cognitect.aws/workdocs #:mvn{:version "793.2.629.0"}
com.cognitect.aws/worklink #:mvn{:version "801.2.687.0"}
com.cognitect.aws/workmail #:mvn{:version "809.2.784.0"}
com.cognitect.aws/workmailmessageflow #:mvn{:version "770.2.568.0"}
com.cognitect.aws/workspaces #:mvn{:version "810.2.805.0"}
com.cognitect.aws/xray #:mvn{:version "809.2.797.0"}