{:deps {com.cognitect/transit-clj {:mvn/version "1.0.324"}
        com.cognitect.aws/api       {:mvn/version "0.8.484"}
        com.cognitect.aws/endpoints {:mvn/version "1.1.11.926"}
        com.cognitect.aws/s3        {:mvn/version "810.2.817.0"}
        nrepl/bencode {:mvn/version "1.1.0"}
        babashka/pods {:git/url "https://github.com/babashka/pods"
                       :sha "22f200ef3006da90971e3bafa794985918b65fea"}}
 :aliases {:uberjar
           {:replace-deps ; tool usage is new in 2.x
            {seancorfield/depstar {:mvn/version "2.0.165"}}
            :ns-default hf.depstar
            :exec-fn uberjar
            :exec-args {:jar pod-babashka-aws.jar
                        :compile-ns [pod.babashka.aws]
                        :aliases [:native]}}
           :native {:jvm-opts ["-Dclojure.compiler.direct-linking=true"]
                    :extra-deps {org.clojure/clojure {:mvn/version "1.10.2-rc1"}}}}}
